@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-darkColor: #030014;
  /* --color-darkColor: #0F0D23; */
  --color-mainDark: #0a0c17;
  --color-mainLight: #373956;

  --color-lightColor: #ffffff;

  --color-light-100: #d6c7ff;
  --color-light-200: #a8b5db;
  --color-light-300: #9ca4ab;

  --color-dark-100: #221f3d;
  --color-dark-200: #0f0d23;
  --color-accent: "#AB8BFF";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: var(--color-mainDark);
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-lightColor);
  background: var(--background);
  /* background: black; */
  font-family: "Nunito", sans-serif;
}

.container {
  width: 90%;
}

/* ☁️ Custom Shadows */
.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

/* 📏 Grid Customization */
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.heading-text {
  font-family: "Roboto", sans-serif;
}
.body-text {
  font-family: "Nunito", sans-serif;
}

.one-edge-shadow {
  box-shadow: inset 0 -10px 10px -6px #dfdfdf;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-lightColor) !important;
}
.slide-up-hover {
  @apply hover:-translate-y-1 transition-all duration-300;
}
.slide-up-hover-x {
  @apply hover:translate-x-1 transition-all duration-300 hover:text-light-200;
}

/* ============== Carousel Style --------- */
.page.carousel-2-page {
  font-size: 14px;
  color: #010101;
  margin: 0;
  padding: 0;
  /* height: 200px; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 140px;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 300px;
  height: 450px;
  filter: saturate(1.2);
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
/* Medium screens (tablets, 768px and below) */
@media (max-width: 768px) {
  .swiper .swiper-slide {
    width: 220px;
    height: 350px;
  }
}

/* Small screens (phones, 480px and below) */
@media (max-width: 480px) {
  .swiper .swiper-slide {
    width: 180px;
    height: 280px;
  }
}

/* ======== accordin style ====== */

.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 20px;
  transition: 0.3s;
}

.accordion:hover {
  gap: 15px;
}

.accordion li {
  position: relative;
  overflow: hidden;
  flex: 0.2 1 auto;
  min-width: 80px;
  max-width: 200px;
  transition: flex 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
}

.accordion li:hover {
  flex: 1;
  flex-grow: 3;
  min-width: 300px;
  transform: scale(1.05);
  z-index: 10;
  opacity: 1;
}

.accordion li img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: grayscale(0.5); */
}

.accordion li,
.accordion li img {
  transition: 0.3s;
}
